.app {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 calc(64px / 2) 0 calc(64px / 2);
  min-width: 320px;
  max-width: 1600px;
  min-height: 100vh;
}
.app.narrow-page {
  max-width: 1088px;
}
@media (min-width: 1888px) {
  .app:has(#sidebar-menu) {
    max-width: 1888px;
    margin-left: calc((100vw - 1888px) / 3);
    margin-right: auto;
  }
  .app.narrow-page:has(#sidebar-menu) {
    max-width: 1376px;
    margin-left: calc((100vw - 1376px) / 3);
  }
}

.header {
  height: 90px;
  padding-top: 0.5rem;
  margin-bottom: 60px;
}

main {
  flex: 1;
}

.header a:has(.header-svg) {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
}

.header-svg {
  color: hsl(195, 85%, 41%);
  display: inline-flex;
}
.header-svg svg {
  width: 1.3em;
  height: 1.3em;
}

.logout-form {
  margin: 0;
}

details.account-dropdown > summary:not([role]) {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--pico-secondary);
}
details.account-dropdown > summary:not([role])::after {
  display: none;
}
details.account-dropdown > summary:not([role]):hover, details.account-dropdown > summary:not([role]):focus {
  background-color: transparent;
  color: var(--pico-secondary-hover);
}
details.account-dropdown > summary:not([role]) svg {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}
details.account-dropdown ul li {
  direction: ltr;
}
details.account-dropdown .account-username {
  font-size: 0.85rem;
  color: var(--pico-muted-color);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  padding: 1.5rem 0 1rem 0;
  border-top: 1px dotted var(--pico-form-element-border-color);
}
footer p {
  margin: 0;
}
footer .social-links {
  display: flex;
  gap: 2rem;
}
footer .social-links a {
  color: var(--pico-secondary);
}
footer .social-links a:hover {
  color: var(--pico-secondary-hover);
}
footer .social-links svg {
  width: 1.25rem;
  height: 1.25rem;
}

.button-slim {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.icon-btn {
  height: 1.3rem;
}
.icon-btn svg {
  height: 100%;
  width: auto;
}

button.icon-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  cursor: pointer;
  color: var(--pico-secondary);
}
button.icon-btn:hover, button.icon-btn:focus-visible {
  color: var(--pico-secondary-hover);
}

.icon-btn--swap > :nth-child(2) {
  display: none;
}

.icon-btn--swap:hover > :nth-child(1),
.icon-btn--swap:focus-visible > :nth-child(1) {
  display: none;
}

.icon-btn--swap:hover > :nth-child(2),
.icon-btn--swap:focus-visible > :nth-child(2) {
  display: inline;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 2rem;
}
.button-row a,
.button-row span {
  margin-bottom: var(--pico-spacing);
  flex: 0 1 8rem;
}
.button-row span {
  visibility: hidden;
}
.button-row button {
  flex: 0 1 12rem;
}