{% extends "base.html" %}
{% load static %}

{% block app_class %}narrow-page{% endblock %}
{% block title %}Reset Password{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'workouts/css/form_styles.css' %}">
{% endblock %}

{% block main %}
  <h1>Reset Password</h1>
  <p>Enter your email address and we'll send you a link to reset your password.</p>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {% include "workouts/partials/form_field.html" %}
    {% endfor %}
    <div class="button-row">
      <a class="secondary" href="{% url 'login' %}" role="button">Back to login</a>
      <button type="submit">Send reset link</button>
    </div>
  </form>
{% endblock %}
